<link type="text/css" href="{{asset "css/quote.css"}}" rel="stylesheet"/>

<div class="container-fluid">
  <div id='big-quote'class="row detail-container">
    <div class="container detail-child">
      <div class="row">
        <div class="col col-md-12 text-center">
          <h2>
            "There is no miracle out there, you make one."
            <p class="quote">
              Jom Dream Action
            </p>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
