{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}

{{! The main content area on the homepage }}

<div class='container-fluid'>
  <div class='row head-container' style='background: url({{@blog.cover}})'>
    <div class='col text-center'>
      <h2>
        {{@blog.title}}
      </h2>
      <h4>
        {{@blog.description}}
      </h4>
    </div>
  </div>  
  
  {{! The tag below includes the post loop - partials/loop.hbs }}
  {{> "feature"}}    
  
  {{> "loop"}}    

  {{> "main-tag"}}
</div>
  
  
    
    



