{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}

{{! The main content area on the homepage }}
{{^is "paged"}}
  {{#is "home"}}
    {{> "feature"}}
  {{/is}}
{{/is}}
<div class='container'>
  {{! The tag below includes the post loop - partials/loop.hbs }}
  <!-- <div class='row recent-head-row'>
    <div class="col text-center">
      <h3>VIDEOS</h3>
    </div>
  </div>
  {{^is "paged"}}
    {{> "main-tag"}}
  {{/is}} -->
  {{^is "paged"}}
    <div class='row recent-head-row'>
      <div class="col text-center">
        <h3>CATEGORIES</h3>
      </div>
    </div>
    {{> "main-tag"}}
  {{/is}}

  <div class='row recent-head-row'>
    <div class="col text-center">
      <h3>RECENT POSTS</h3>
    </div>
  </div>
  {{> "loop"}}


</div>
