{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}

{{! The main content area on the homepage }}
{{^is "paged"}}
  {{#is "home"}}
    {{> "feature"}}
  {{/is}}
{{/is}}
<div class='container'>

  {{! The tag below includes the post loop - partials/loop.hbs }}
  {{^is "paged"}}
    {{> "main-tag"}}
  {{/is}}
</div>

{{^is "paged"}}
  {{> "quote"}}
{{/is}}

<div class='container'>
  {{^is "paged"}}
    <div class='row recent-head-row'>
      <div class="col text-center">
        <h3><u>VIDEOS</u></h3>
      </div>
    </div>
    <div id="youmax" class="youmax"></div>
  {{/is}}

  <div class='row recent-head-row'>
    <div class="col text-center">
      <h3><u>RECENT POSTS</u></h3>
    </div>
  </div>
  {{> "loop"}}


</div>
