<link type="text/css" href="{{asset "css/apply.css"}}" rel="stylesheet"/>

{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

{{! Everything inside the #post tags pulls data from the page }}
{{#post}}

<div class="container-fluid apply-container">
  <div class="row text-center">
    <div class="col col-md-12 apply-form">
      <script type="text/javascript" src="https://form.jotform.com/jsform/60645261539155"></script>
    </div>
  </div>
</div>



{{/post}}
