<link type="text/css" href="{{asset "css/portfolio-service.css"}}" rel="stylesheet"/>

{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

{{! Everything inside the #post tags pulls data from the page }}
{{#post}}

<div class='container-fluid'>
  <div class="row post-content-row" role="main">
    <div class='jumbotron col col-md-12'>
      <h1>Portfolio Services</h1>
      <h4>Lorem ipsum dolor sit amet, consectetur</h4>
      <br/>

      <div class="row text-center">
        <div class="col col-md-4">
          <img class='img img-circle'src="http://placehold.it/150x150">
          <h2>CREATE</h2>
          <p>ทำ Portfolio เทพๆ เพื่องานสถาปัตย์ในฝัน</p>
        </div>
        <div class="col col-md-4">
          <img class='img img-circle'src="http://placehold.it/150x150">
          <h2>UNLEASH YOUR POWER</h2>
          <p>ดึงพลัง และศักยภาพในตัวคุณ ให้แสดงออกมาทาง Portfolio</p>
        </div>
        <div class="col col-md-4">
          <img class='img img-circle'src="http://placehold.it/150x150">
          <h2>TECHNIQUES</h2>
          <p>พบเทคนิค และเคล็ดลับ ที่หาไม่ได้ใน Internet ที่สามารถเอาไปใช้ได้มากกว่าแค่ Portfolio</p>
        </div>
      </div>

      <div class='row text-center'>
        <a href="/apply">
          <button type="button" class="btn btn-default" >Free Flip Test !</button>
        </a>
      </div>
    </div>
  </div>

  <div class='row port-menu text-center'>
      <div class='col col-md-12 text-center'>
        <h2>ลองดู Workshop และ โปรแกรม ที่เหมาะกับความต้องการของคุณที่นี่</h2>
      </div>

      <div class="col col-md-3 text-center">
        <a href="#fliptest">
          <div class='col col-md-12 service-choice'>
            <img class='img img-circle'src="http://placehold.it/150x150">
            <h3>Flip Test</h3>
            <p>
              ถ้ามีคะแนนจะได้เท่าไหร่?
              มาดูคะแนน Flip Test ที่บอก
              เลเวลของ 1st Impression
              เหมือนเวลา พลิกดู Portfolio
              กรองงานรอบแรก (FREE!)
            </p>
          </div>
        </a>
      </div>
      <div class="col col-md-3 text-center">
        <a href="#port-critique">
          <div class='col col-md-12 service-choice'>
            <img class='img img-circle'src="http://placehold.it/150x150">
            <h3>Portfolio Critique</h3>
            <p>
              พบคํา แนะนํา ข้อดี ข้อเสีย ข้อ
              ปรับปรุงของ Portfolio อย่าง
              ละเอียด เพื่อพัฒนาไปสู่ความ
              เทพยิ่งขึ้น
            </p>
          </div>
        </a>
      </div>
      <div class="col col-md-3 text-center">
        <a href="#beginner-port-workshop">
          <div class='col col-md-12 service-choice'>
            <img class='img img-circle'src="http://placehold.it/150x150">
            <h3>Portfolio Workshop I</h3>
            <p>
              ไม่รู้จะเริ่มยังไง? ไม่มีพอร์ตมา
              ก่อน? เริ่มที่นี่เลย! สอนพื้น
              ฐานการทํา portfolio แนวคิด
              และวิธีการเล่าเรื่อง และ โปรแก
              รมพื้นฐานที่จํา เป็น ในการทํา
              พอร์ตฟอลิโอ
            </p>
          </div>
        </a>
      </div>
      <div class="col col-md-3 text-center">
        <a href="#intermediate-port-workshop">
          <div class='col col-md-12 service-choice'>
            <img class='img img-circle'src="http://placehold.it/150x150">
            <h3>Portfolio Workshop II</h3>
            <p>
              ยกเครื่อง วางแผนและ
              ปรับPortfolioใหม่ ร่วมกับโค้ช
              ที่เป็นสถาปนิก ผู้เชี่ยวชาญ
              ทั้งในการทํา และ การคัดเลือก
              ที่ให้คุณทํา พอร์ตที่เทพได้ ใน
              สไตล์คุณ
            </p>
          </div>
        </a>
      </div>
    </div>

    <div class="row port-menu text-center">
      <div class='col col-xs-12'>
        <h4>
          Lorem ipsum dolor sit amet, consectetur
        </h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
</div>

    <!-- <div class='col col-md-12'> -->
    <div class='container'>
      <div id='fliptest' class='row detail-container'>
        <div class='col col-md-4 text-center'>
          <img class='img img-responsive'src="http://placehold.it/500x1000">
        </div>

        <div class='col col-md-8'>
          <h2>FLIP TEST</h2>
          <hr>
          <h3>อะไรคือ Flip test? และสำคัญอย่างไร?</h3>

          <p>
            Flip test คือ ลักษณะในการดู Portfolio และ ตัดสินผู้สมัครในรอบที่เบื้องต้นที่สุด คือ จังหวะกรองจำนวนผู้เข้าสมัคร การกรองงานรอบแรก ส่วนมากจะมาในรูปแบบ Flip test คือ ผู้ดูใช้เวลาน้อยมาก ในการดู Portfolio ของเรา
          </p>

          <p>
            เวลาเราสมัครงานไปที่ที่มีการแข่งขันสูง หรือบริษัทที่ได้รับเอกสารสมัครงานมาเยอะมาก แต่กรรมการผู้คัดเลือกมีเวลาจำกัดไม่สามารถลงรายอะเอียดเอกสารสมัครงานของคุณ ประกอบกับเค้าสามารถรับคนมาทำงานได้จำนวนจำกัด ซึ่งก็คือ กรณีปกติทั่วไป ที่เรียกว่า “ไม่มีเวลา” นั่นแหละค่ะ
          </p>

          <p>
          ถ้าไม่มีระบบการคัดเลือกซับซ้อนมาก ก็แค่ ผ่าน แล้วเอาไปดูรายละเอียดต่อ ในด่านต่อไป ถ้าไม่ผ่าน ก็..<strong>บายยยยย~~</strong>
          </p>
          <p>
          แต่ถ้าบางที่ ที่มีระบบซับซ้อน เช่น ที่ที่รับฝึกงานจากทั่วโลก บางทีจะมีการคัดและแยกตามกลุ่มของคะแนนค่ะ เช่น ดีมาก ปานกลาง น้อย เพื่อให้กรรมการผู้คัดเลือกในด่านต่อไป เรียงลำดับความสำคัญว่า ควรเริ่มดูจากกลุ่มไหนก่อน เพื่อจะได้ค้นหาคนได้ทัน ในเวลาที่จำกัด
          </p>

          <p>
          การออกแบบ Portfolio ให้ดูดี และประทับใจตั้งแต่แค่การดู 10 วิ หรือใน Flip Test จึงเป็นสิ่งที่สำคัญมาก โดยเฉพาะการส่งไปในที่ที่การแข่งขันสูงๆค่ะ
          หรือ แม้แต่บริษัทที่การแข่งขันไม่สูง ที่เค้าตั้งใจดูงานเราตั้งแต่แรก การที่ออกแบบ Portfolio ที่สวยและดี ตั้งแต่ Flip Test นั้น มีแต่ได้กับได้ คือ มีแต่ข้อดีค่ะ
          </p>
        </div>

        <div class='col col-md-12'>
          <h3>ผลลัพธ์จาก Flip Test Score</h3>
          <p>
          Dream Action จะแบ่งตามคะแนนออกเป็นแบบนี้ค่ะ เพื่อความเข้าใจง่าย ว่าต้องปรับอีกเยอะน้อย แค่ไหนค่ะ
          </p>
        </div>

        <div class='col col-md-12 text-center'>
          <img class='img img-responsive'src="http://placehold.it/1250x150">

          <p>
          5 : Absolutely Yes
          </p>
          <p>
          4 : Yes, need to look closer
          </p>
          <p>
          3 : Maybe, see some potential
          </p>
          <p>
          2 : Almost there
          </p>
          <p>
          1 : Not right now
          </p>
          <p>
          0 : No
          </p>
        </div>


        <div class='col col-md-12'>
          <h4>ทีนี้ เลเวลไหนที่จะได้งาน ? </h4>
          อันนี้ขึ้นอยู่กับว่าคู่แข่งเยอะแค่ไหน และตอนนั้นเค้าเร่งหาคนแค่ไหน นึกออกไหม เอางี้นะ

          <p>
          <strong>Lucky Scenario :</strong> ถ้าจะเอาคนพรุ่งนี้แล้ว แต่มีคนส่งมาคนเดียว และเป็น 2 เค้าก็อาจจะรับก็ได้นะ อันนี้เป็น
          </p>

          <p>
          <strong>General Scenario :</strong> คนสมัครกลางๆ มีเวลาดูเยอะ ช่วง 5-3 เอาอยู่
          </p>

          <p>
          <strong>Worst Case Scenario :</strong> คนสมัครเยอะมาก เวลาดูน้อยมาก เค้าจะเน้นดูแค่  5-4
          </p>
        </div>

       <!--  <h4>ขั้นตอนการส่ง  Flip Test Request</h4>
        <p>
        1.ส่งไฟล์ PDF ขนาดไม่เกิน 10Mb ขึ้นต้นหัวข้อว่า : Flip Test Request : “ชื่อของคุณ” มาที่ jom@dreamaction.co
        </p>
        <p>
        2. รอสัก 1-2 วัน เราจะส่ง DreamAction Flip Test Score result ไปให้ทางอีเมลของคุณ
        </p>
        <p>
        **หากไม่ต้องการให้คนเห็นชื่อจริงของคุณ ตั้งชื่อหัวข้อ ที่เป็นชื่อของคุณ ให้เป็นนามปากกาก็ได้นะคะ เพราะว่าพอครบจำนวนหนึ่งอาจจะเอาใบคะแนนหลายๆอัน มา feature เป็นภาพประกอบ
        </p> -->

        <div class='col col-md-12 call-to-action'>
          <div class='col col-md-3'>
            <img class='img img-responsive'src="http://placehold.it/300x250">
          </div>
          <div class='col col-md-9'>
            <h2>อยากลอง Flip Test กันไหม ถ้าสนใจ สามารถลองส่งมา Flip Test ได้ FREE!! ค่ะ</h2>
            <a href="/apply">
              <button type="button" class="btn btn-default" >Free Flip Test !</button>
            </a>
          </div>
        </div>

      </div>
    </div>




    <div class='container-fluid'>
      <div id='port-critique' class='row detail-container'>
        <div class='container'>
          <div class="row">
            <div class='col col-md-8'>
              <h2>Portfolio Critique</h2>
              <hr>
              <h3>รับรีวิว Critic ให้คำแนะนำ ในการทำ Portfolio</h3>

              <h4>ทำไม ควรจะต้องรับ critic ?</h4>
              <p>ปัญหา เคยไหม เวลาทำพอร์ตฟอลิโอ แล้วไม่รุ้ว่ามันดีพอแล้วหรือยัง</p>

              <h4>สำหรับใคร?</h4>
              <p>
              สำหรับ : คนที่มี Portfolio อยู่แล้ว ต้องการคอมเม้นที่เขียนโดยละเอียด แยกเป็นประเด็น เพื่อนำไปปรับต่อแก้ไขเอง
              </p>

              <p><strong>สิ่งที่จะได้จาก Portfolio Review</strong></p>
              <ul>
                <li>
                  ใบcomment ที่จะใส่ใน DA Portfolio Metrics ที่คอมเม้นตามประเด็นดังนี้ : Interface Design, Experience, Graphic design : Layout, Typography, Storytelling, Content Grouping, Content (Information)…. ดูตัวอย่าง DA Portfolio Metrics ที่นี่
                </li>
                <li>
                  (Optional) Redlines ไปบน PDF ที่ส่งมาให้ เพื่อ comment โดยตรง หรือ อ้างอิงไปยัง DA Portfolio Metrics
                </li>
              </ul>

              <p>ระยะเวลารอ : 2~3 วัน</p>
            </div>

            <div class='col col-md-4'>
              <img class='img img-responsive'src="http://placehold.it/500x800">
            </div>

            <div class='col col-md-12 call-to-action'>
              <div class='col col-md-3'>
                <img class='img img-responsive'src="http://placehold.it/300x250">
              </div>
              <div class='col col-md-9'>
                <h2>อยากลอง Portfolio Critique กันไหม ถ้าสนใจ สามารถลองส่งมา Flip Test ได้ FREE!! ค่ะ</h2>
                <a href="/apply">
                  <button type="button" class="btn btn-default" >Free Flip Test !</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class='container-fluid'>
      <div id='beginner-port-workshop' class='row detail-container'>
        <div class='container'>
          <div class="row">
            <div class='col col-md-4'>
              <img class='img img-responsive'src="http://placehold.it/500x800">
            </div>
            <div class='col col-md-8'>
              <h2>(1-on-1) 1st Portfolio Workshop : พอร์ตฟอลิโอแรก (Beginner Level)</h2>

              <hr>

              <p>
                สำหรับ : มือใหม่สุดๆ นักเรียนออกแบบ หรือ ผู้ที่มีผลงาน อยากจะรวมเป็น Portfolio แต่ไม่รู้จะเริ่มและทำอย่างไร
              </p>

              <p><strong>สิ่งที่จะได้เรียนรู้จาก Workshop</strong></p>
              <ul>
                <li>
                  พื้นฐานการทำportfolio แนวคิด และวิธีการเล่าเรื่อง
                </li>
                <li>
                  วิธีการใช้โปรแกรม Indesign จัดหน้าและรูปเล่ม พอร์ตของเราให้ดูดีมีสไตล์
                </li>
                <li>
                  แนะนำเทคนิคในโปรแกรมอื่นๆ ที่มีประโยชน์ในการทำกราฟฟิค เพื่อใช้ใน Portfolio เช่น Photoshop, Illustrator
                </li>
                <li>
                  วิธีการออกแบบ Portfolio และ จัดเรียงเรื่องราว การเล่าเรื่องให้เหมาะกับงานของคุณ
                </li>
                <li>
                  การจัดวาง Layout ที่มีประสิทธิภาพ
                </li>
              </ul>

              <p>
                จำนวนครั้งที่เรียน : 6 Online Workshops (เรียนทาง Skype แบบ ตัวต่อตัว)
              </p>
            </div>
            <div class='col col-md-12 call-to-action'>
                <div class='col col-md-3'>
                  <img class='img img-responsive'src="http://placehold.it/300x250">
                </div>
                <div class='col col-md-9'>
                  <h2>อยากลอง 1-ON-1 กันไหม ถ้าสนใจ สามารถลองส่งมา Flip Test ได้ FREE!! ค่ะ</h2>
                  <a href="/apply">
                    <button type="button" class="btn btn-default" >Free Flip Test !</button>
                  </a>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class='col col-md-12'> -->
    <div class='container-fluid'>
      <div id='intermediate-port-workshop' class='row detail-container'>
        <div class='container'>
          <div class="row">
            <div class='col col-md-8'>
              <h2>(1-on-1) Portfolio Makeover Workshop : พลิกพอร์ตใหม่ ในสไตล์คุณ (Intermediate - Advanced Level)</h2>

              <hr>

              <p>
                มา Re-Brand ปรับ Portfolio กันใหม่ ให้สุดเทพ เพื่อคว้างานสถาปัตย์ในฝัน ด้วยWorkshop 1-on-1 ที่จะให้เทคนิค Tricks/Tips ที่หาไม่ได้ใน Internet
                วางแผนใหม่นี้ร่วมกับCoach โดยที่Coachจะให้ความรู้ ที่สามารถนำไปปรับใช้ต่อได้ในอนาคตทั้งในการทำ Portfolioเทพๆตัวเอง หรือของบริษัท หรือจะเอาไปสมัครเรียนก็ได้ ไม่ว่ากัน
              </p>

              <p>
                สำหรับ : นักศึกษาที่เพิ่งจบใหม่, คนที่อยากเปลี่ยนงาน, คนที่มี Portfolioแล้ว แต่คิดว่าตัวเองงานไม่ดี งานไม่พอ หรือ สำหรับfreelance ที่อยากปรับPortfolio เพื่อให้ได้งานที่เพิ่มขึ้น,
                คนที่มี Portfolio อยู่แล้วก่อนหน้านี้ ต้องการปรับปรุง ยกเครื่อง Portfolio ใหม่ ต้องการเทคนิค กลยุทธที่เหมาะกับตัวเอง พร้อมกับได้รับ Comment และ คำแนะนำระหว่างการทำ ตัวต่อตัว
              </p>
              <p><strong>สิ่งที่จะได้จาก Workshop :</strong></p>

              <ul>
                <li>
                  ร่วมวางกลยุทธ (Startegy) ในการจัด Portfolio ใหม่ กับCoach เพื่อสร้าง Portfolio ใหม่ที่เหมาะกับเรา : Coach จะร่วมดูงานทั้งที่มีใน Portfolio และไม่มีว่า อันไหนควรจะขยายควรจะตัดทิ้ง และควรจะปรับแก้
                </li>
                <li>
                  Storyboard ใหม่ของ Portfolio และ Story ที่จะเล่าของ Portfolio นี้
                </li>
                <li>
                  เทคนิคในการทำงานใน Indesign และ การใช้โปรแกรมอื่นๆ เพื่อ ช่วยให้ทำงานมีประสิทธิภาพ และ Portfolio สวย
                </li>
                <li>
                  เทคนิคทาง Layout, Typography และ Graphic Design ที่สามารถนำมาปรับใช้ในการทำ Portfolio
                </li>
                <li>
                  Portfolio Review 2 ครั้ง (mid และ Final) หลังจากวางแผน ปูเรื่องราว และให้เวลานักเรียนไปทำพอร์ตฟอลิโอ จะกลับมารีวิว และแจกแจง comment ละเอียด พร้อมตัวอย่างและคำแนะนำในการปรับแก้
                </li>
              </ul>

              <p>
                จำนวนครั้งที่เรียน : 6 Online Workshops (เรียนทาง Skype แบบ ตัวต่อตัว)
              </p>

              <p>
                * ก่อนหน้าเริ่มเรียน ต้องส่งข้อมูลมาก่อน 1 วัน เพื่อให้ Coach ได้ศึกษาข้อมูล และเตรียมตัว
              </p>

            </div>

            <div class='col col-md-4'>
              <img class='img img-responsive'src="http://placehold.it/500x800">
            </div>

            <div class='col col-md-12 call-to-action'>
              <div class='col col-md-3'>
                <img class='img img-responsive'src="http://placehold.it/300x250">
              </div>
              <div class='col col-md-9'>
                <h2>อยากลอง 1-ON-1 กันไหม ถ้าสนใจ สามารถลองส่งมา Flip Test ได้ FREE!! ค่ะ</h2>
                <a href="/apply">
                  <button type="button" class="btn btn-default" >Free Flip Test !</button>
                </a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class='text-center'>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <a href="/apply">
        <button type="button" class="btn btn-default" >Free Flip Test !</button>
      </a>
    </div>

    <div class='text-center'>
      <p>
        Other Service
      </p>
      <a href="/apply">
        <button type="button" class="btn btn-default" >Free Flip Test !</button>
      </a>
    </div>
    <!-- <div class='text-center'>
      <h3>TESTIMONIAL</h3>
    </div> -->


  </div>
</div>

{{/post}}
