<link type="text/css" href="{{asset "css/apply.css"}}" rel="stylesheet"/>

{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

{{! Everything inside the #post tags pulls data from the page }}
{{#post}}

<div class="container-fluid">
  <div class="row text-center">
    <div class="col col-md-12">
      <img src="/content/images/2016/03/thankyou300.png" alt="" />
      <p>
        ขอบคุณที่ติดต่อ และสนใจในคอร์สของเรา ทางเราจะติดต่อกลับไป ภายใน 24 ชม. ขอบคุณค่ะ :)

      </p>
      <p>
        หากเป็น ผล Flip Test ทางเราจะส่งไปภายในเวลา 1-2 วัน
      </p>
    </div>
  </div>
</div>



{{/post}}
