

.main-logo, .page-description {
	color: white !important;
	background-color: black;
}


a {
	text-decoration: none;
}
.tag-image {
	width: 100%;
	/*background-color: red;*/
}
.main-tag-container, .main-recent-container {
	text-align: center;
}
.main-tag {
	display: inline-block;
}

.recent {
	background-color: black;
	padding: 15px;
}

.recent > h4 {
	color: white;	
}


.nav-current{
	background-color: red;
}

.nav-current > a { 
	color: green !important;
}


.fb-comments, .fb-comments iframe[style], .fb-comments span[style] {
	width: 100% !important;
}