.main-header {
	margin: 0px;
}
.main-logo, .page-description {
	color: white !important;
}

.blog-logo, img {
	height: 75px !important;
	position: relative;
	top: -19px;
	padding: 5px;
}

.main-tag-container, .main-recent-container, .text-center{
	text-align: center;

}

.main-tag {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 200px;
	position: relative;
}

.main-tag > a > h4, .main-tag > a > p {
	position: relative;
	bottom: -75px;
	color: white;
}

.main-tag:hover {
	box-shadow: inset 2px 43px 300px 63px rgba(0,0,0,0.3);
	color: gray !important;
} 

a {
	text-decoration: none;
}
.tag-image {
	width: 100%;
}

.recent {
	background-color: black;
	padding: 15px;
}

.recent > h4 {
	color: white;	
}


.author-image {
	z-index: 0 !important;
}

.twitter-share-container {
	padding-top: 10px;
}

.fb-page {
	text-align: center;
}

.fb-comments, .fb-comments iframe[style], .fb-comments span[style] {
	width: 100% !important;
}


/* LOOP */
.loop-post-image {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%; 
	height: 200px;
	margin-bottom: 20px;
}

.loop-post-image:hover {
	box-shadow: inset 2px 43px 300px 63px rgba(0,0,0,0.3);
}

.tag-footer-container {
	padding: 0px;
	margin: 0px;
	background-color: gray;
}
.tag-footer {
	font-size: 9px;
	color:lightgray;
}

.tag-footer:hover {
	font-size: 11px;
	color: white;
}

/* Post.hbs */
.post-content {
	padding-top: 15px;
}
