html, body {
	margin: 0px;
	padding: 0px;
}
.main-header {
	margin: 0px;
}
.main-logo, .page-description {
	color: white !important;
}

.blog-logo > img {
	height: 50px !important;
	position: relative;
	top: -5px;
	left: 10px;
}

.head-container {
	color: white;
	padding: 50px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}



