.main-tag-container {
	margin-top: 20px;
	margin-bottom: 20px;
}
.main-tag-container .tag {
	position: relative;
	background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.main-tag-container .col section {
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding: 15px;
	text-decoration: none;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	background-color: rgba(0, 0, 0, 0.7);
}

.main-tag-container .col section:hover {
	color: lightgray;
}

.main-tag-container .tag-header {
	text-transform: uppercase;
	color: black;
	font-size: 40px;
	text-decoration: none;

	-webkit-transition: color 200ms ease-out;
    -moz-transition: color 200ms ease-out;
    -o-transition: color 200ms ease-out;
    transition: color 200ms ease-out;
}

.main-tag-container .tag-header:hover {
	text-decoration: none;
	color: #EB5C0C;
}

.cool-line {
	width: 10%;
	height: 35px;
	border-top: 2px solid #EB5C0C;
	position: absolute;
	top: 40px;
}

.cool-line-right {
	border-right: 2px solid #EB5C0C;
	right: 15%;
}

.cool-line-left {
	border-left: 2px solid #EB5C0C;
	left: 15%;
}


.tag-post {
	background-color: gray;
	height: 250px;
	margin-bottom: 15px;
	position: relative;
	background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.tag-post h4 {
	position: absolute;
	bottom: 0px;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

@media screen and (max-width: 769px) {
	.main-tag-container .tag-header {
		font-size: 30px;
	}

	.cool-line {
		width: 5%;
		height: 25px;
		top: 15px;


	}
}
