.main-tag-container {
}
.main-tag-container .tag {
	height: 250px;
	position: relative;
	background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.main-tag-container .tag:hover {
	box-shadow: inset 2px 43px 300px 63px rgba(0,0,0,0.3);
}

.main-tag-container .col section {
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding: 10px;
	text-decoration: none;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	background-color: rgba(0, 0, 0, 0.5);
}

.main-tag-container .col section:hover {
	color: lightgray;
}
