.main-tag-container {
}
.main-tag-container .tag {
	height: 250px;
	position: relative;
	background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.main-tag-container .tag:hover {
	box-shadow: inset 2px 43px 300px 63px rgba(0,0,0,0.3);
}

.main-tag-container .col section {
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding: 15px;
	text-decoration: none;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	background-color: rgba(0, 0, 0, 0.7);
}

.main-tag-container .col section:hover {
	color: lightgray;
}

.main-tag-container h4 {
	text-transform: uppercase;
}

.tag-col {
	text-transform: uppercase;
	padding: 10px;
}

.tag-col a {
	color: black;
}

.tag-col:hover a{
	text-decoration: none;
	color: white;

}
.tag-col:hover {
	background-color: #EF660A;
}

.tag-0 {
	background-color: #a8a8a8;
}

.tag-1 {
	background-color: #b0b0b0;
}

.tag-2 {
	background-color: #b8b8b8;
}

.tag-3 {
	background-color: #cccccc;
}

.tag-4 {
	background-color: #dddddd;
}

.tag-5 {
	background-color: #ebebeb;
}
