.main-post {
	/*background-color: red;*/
 /* position: relative;
  width: 80%;
  max-width: 710px;
  margin: 4rem auto;
  padding-bottom: 4rem;
  border-bottom: #EBF2F6 1px solid;
  word-wrap: break-word;*/
  /*border: black 1px solid;*/
}

.main-post .post-container {
	padding: 0px;
}

.main-post .link-spanner{
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}


.main-post .image-container {
	height: 300px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	box-shadow: inset 2px 43px 300px 63px rgba(0,0,0,0.3);
}

.main-post .post-container:hover .image-container {
	box-shadow: inset 2px 43px 300px 63px rgba(0,0,0,0.7);
}

.main-post .post-container:hover .readmore-text {
	color: #EF660A !important;
}

.main-post .post-container .text-container {
	height: 300px;
	background-color: white;
	border: #F0F0F0 1px solid;
}


.main-post .post-container .text-container .title {
	padding: 0px 20px;
}

.main-post .post-container .text-container time {
	color: gray;
	font-size: 12px;
}
.main-post .post-container .text-container .excerpt {	
	padding: 20px;
	padding-left: 50px;
	padding-right: 50px;
}

.main-post .post-container .text-container .excerpt span {
	color: lightgray;
	font-size: 20px;
}

.main-post .post-container .text-container  .readmore {
	padding-top: 20px;
}

.main-post .post-container .text-container  .readmore a {
	color: black;
	text-decoration: underline;
	font-size: bold;
}

.main-post .post-container .tags {
	z-index: 400;
	padding-top: 4px;
}

.main-post .post-container .tags a {
	background-color: #EF660A;
	padding: 6px;
	font-size: 12px;
	text-decoration: none;
	color: white;
}

.main-post .post-container .tags a:hover {
	color: black;
}


